.loginContainer{
    border-radius: 20px;
    background-color: lightgray;
    margin-top: 200px;
}
.btn-google{
    width: 400px;
    border-radius: 200px;
}
@media screen and (max-width: 480px){
    .btn-google{
        width: 250px;
    }
}